body {
  /* Grid gap */
  --gap: 10px;
  /* Color scheme */
  --body-text: #333;
  --body-bg: #ccd8e4;
  --link-text: #ef3b3b;
  --link-text-hover: #333;
  --grid-name-text: #ef3b3b;
  --grid-title-text: #ef3b3b;
  --grid-nav-text: #fff;
  --grid-nav-bg: #442ef4;
  --grid-nav-text-hover: #fff;
  --grid-nav-bg-hover: #1f1f1f;
  --grid-text: #333; }

a {
  text-decoration: none;
  color: #ef3b3b;
  color: var(--link-text);
  outline: none; }

a:hover,
a:focus {
  color: #333;
  color: var(--link-text-hover); }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }

/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grid-nav-bg);
  background: var(--body-bg); }

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  pointer-events: none;
  background: #333;
  background: var(--grid-nav-bg);
  transform-origin: 0% 50%;
  animation: loaderAnim 1.5s linear infinite alternate forwards; }

@keyframes loaderAnim {
  0% {
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%; }
  50% {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%; }
  51% {
    transform: scale3d(1, 1, 1);
    transform-origin: 100% 50%; }
  100% {
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%; } }

/* Frame */
.frame {
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  width: 100%;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  padding: 2em;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 4em;
  grid-template-areas: "header header" "... ..." "... demos"; }

.no-js .frame {
  position: relative;
  display: block;
  height: auto; }

.frame a {
  pointer-events: auto; }

.message {
  background: #333;
  background: var(--body-text);
  color: #ccd8e4;
  color: var(--body-bg);
  text-align: center;
  padding: 1em;
  display: none; }

/* Grid */
.grid {
  display: grid;
  width: calc(100% - 2em);
  height: calc(100vh - 2em);
  grid-auto-rows: 3.2vh;
  grid-auto-columns: 3.2%;
  justify-content: center;
  align-content: center;
  grid-gap: var(--gap);
  pointer-events: none; }

.no-js .grid {
  margin: 0 0 15vh; }

.js .grid {
  position: absolute;
  top: 2em;
  left: 1em;
  opacity: 0; }

.js .grid--current {
  opacity: 1;
  pointer-events: auto; }

.grid__item {
  position: relative;
  padding: 1em;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background-size: cover !important;
  transition: transform 0.2s ease-out; }

.grid__item--name,
.grid__item--title,
.grid__item--text {
  pointer-events: none;
  padding: 0;
  margin: 0; }

.grid__item--name,
.grid__item--title {
  text-transform: uppercase;
  line-height: 0.8;
  font-family: 'Kanit', sans-serif; }

.grid__item--name {
  font-family: "Archivo Black", sans-serif;
  font-size: 7vw;
  color: #917a7a;
  color: var(--grid-name-text); }

.grid__item--title {
  font-size: 3.5vh;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  color: #ef3b3b;
  color: var(--grid-title-text); }

.grid__item--text {
  font-size: 0.85em;
  line-height: 1.2;
  pointer-events: all;
  display: flex;
  color: inherit;
  color: var(--grid-text);
  position: relative; }
  .grid__item--text:hover {
    background: #fff;
    background-color: #fff; }
  .grid__item--text:after {
    display: none; }
  .grid__item--text a {
    display: block;
    font-size: 18px;
    line-height: 28px;
    padding-right: 15px;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase; }
  .grid__item--text .social-links {
    position: absolute;
    display: block;
    text-align: center; }
    .grid__item--text .social-links i {
      font-size: 30px;
      margin-bottom: 15px; }
    .grid__item--text .social-links a:last-child i {
      margin-bottom: 0; }

.grid__item--title {
  pointer-events: all; }
  .grid__item--title:after {
    display: none; }
  .grid__item--title i {
    pointer-events: all;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 15px;
    position: absolute;
    right: 0;
    color: var(--grid-nav-bg); }
    .grid__item--title i:hover {
      color: var(--grid-nav-bg-hover); }

.grid__item--nav {
  background: #442ef4;
  background: var(--grid-nav-bg);
  color: #fff;
  color: var(--grid-nav-text);
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 600; }

.grid__item--nav:hover {
  background: #1f1f1f;
  background: var(--grid-nav-bg-hover);
  color: #fff;
  color: var(--grid-nav-text-hover); }

.grid__item--nav-next .icon--nav-arrow {
  margin: 0 0 0 auto; }

.grid__item--nav-prev .icon--nav-arrow {
  transform: rotate(180deg);
  margin: 0; }

.no-js .grid__item--nav {
  display: none; }

.grid__item--animateOut {
  animation: animateOut 0.8s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@keyframes animateOut {
  to {
    opacity: 0; } }

.grid__item--animateIn {
  animation: animateIn 0.8s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

@keyframes animateIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Layout 1 */
.grid--layout-1 .grid__item:first-child {
  grid-area: 11 / 1 / 17 / 5; }

.grid--layout-1 .grid__item:nth-child(2) {
  grid-area: 22 / 6 / 28 / 10; }

.grid--layout-1 .grid__item:nth-child(3) {
  grid-area: 8 / 5 / 22 / 15; }

.grid--layout-1 .grid__item:nth-child(4) {
  grid-area: 22 / 10 / 29 / 15; }

.grid--layout-1 .grid__item:nth-child(5) {
  grid-area: 1 / 11 / 8 / 15; }

.grid--layout-1 .grid__item:nth-child(6) {
  grid-area: 17 / 15 / 24 / 20; }

.grid--layout-1 .grid__item:nth-child(7) {
  grid-area: 9 / 15 / 17 / 23; }

.grid--layout-1 .grid__item:nth-child(8) {
  grid-area: 2 / 18 / 9 / 23; }

.grid--layout-1 .grid__item:nth-child(9) {
  grid-area: 17 / 20 / 22 / 26; }

.grid--layout-1 .grid__item:nth-child(10) {
  grid-area: 22 / 20 / 28 / 23; }

.grid--layout-1 .grid__item:nth-child(11) {
  grid-area: 4 / 23 / 11 / 27; }

.grid--layout-1 .grid__item:nth-child(12) {
  grid-area: 11 / 23 / 17	/ 30; }

.grid--layout-1 .grid__item:nth-child(13) {
  grid-area: 17 / 26 / 22 / 28; }

.grid--layout-1 .grid__item--name {
  grid-area: 3 / 12 / 30 / 25 !important; }

.grid--layout-1 .grid__item--title {
  grid-area: 1 / 27 / 11 / 29; }

.grid--layout-1 .grid__item--text {
  grid-area: 22 / 23 / 30 / 26 !important; }

.grid--layout-1 .grid__item--nav-prev {
  grid-area: 3 / 6 / 8 / 11 !important; }

.grid--layout-1 .grid__item--nav-next {
  grid-area: 24 / 15 / 29 / 20 !important; }

.grid--layout-1 .grid__item--text .social-links {
  left: 0;
  top: 40px; }

/* Layout 2 */
.grid--layout-2 .grid__item:first-child {
  grid-area: "17 / 1 / 24 / 5"; }

.grid--layout-2 .grid__item:nth-child(2) {
  grid-area: "22 / 6 / 28 / 10"; }

.grid--layout-2 .grid__item:nth-child(3) {
  grid-area: "14 / 5 / 22 / 10"; }

.grid--layout-2 .grid__item:nth-child(4) {
  grid-area: 17 / 10 / 26 / 15; }

.grid--layout-2 .grid__item:nth-child(5) {
  grid-area: 1 / 10 / 17 / 15; }

.grid--layout-2 .grid__item:nth-child(6) {
  grid-area: 11 / 15 / 24 / 20; }

.grid--layout-2 .grid__item:nth-child(7) {
  grid-area: 5 / 15 / 11 / 18; }

.grid--layout-2 .grid__item:nth-child(8) {
  grid-area: 1 / 18 / 11 / 23; }

.grid--layout-2 .grid__item:nth-child(9) {
  grid-area: 20 / 20 / 27 / 24; }

.grid--layout-2 .grid__item:nth-child(10) {
  grid-area: 24 / 15 / 29 / 20; }

.grid--layout-2 .grid__item:nth-child(11) {
  grid-area: 4 / 23 / 11 / 27; }

.grid--layout-2 .grid__item:nth-child(12) {
  grid-area: 11 / 20 / 20	/ 30; }

.grid--layout-2 .grid__item:nth-child(13) {
  grid-area: 25 / 24 / 29 / 28; }

.grid--layout-2 .grid__item--name {
  grid-area: 16 / 9 / 30 / 16 !important; }

.grid--layout-2 .grid__item--title {
  grid-area: 1 / 27 / 11 / 29; }

.grid--layout-2 .grid__item--text {
  grid-area: 1 / 5 / 9 / 10 !important;
  align-items: flex-end;
  text-align: right; }

.grid--layout-2 .grid__item--nav-prev {
  grid-area: 9 / 5 / 14 / 10 !important; }

.grid--layout-2 .grid__item--nav-next {
  grid-area: 20 / 24 / 25 / 30 !important; }

.grid--layout-2 .grid__item--text .social-links {
  right: 0;
  bottom: 40px; }

/* Layout 3 */
.grid--layout-3 .grid__item:first-child {
  grid-area: 6 / 1 / 14 / 5; }

.grid--layout-3 .grid__item:nth-child(2) {
  grid-area: 3 / 5 / 14 / 10; }

.grid--layout-3 .grid__item:nth-child(3) {
  grid-area: 14 / 1 / 21 / 5; }

.grid--layout-3 .grid__item:nth-child(4) {
  grid-area: 19 / 10 / 28 / 20; }

.grid--layout-3 .grid__item:nth-child(5) {
  grid-area: 1 / 10 / 11 / 18; }

.grid--layout-3 .grid__item:nth-child(6) {
  grid-area: 11 / 10 / 19 / 15; }

.grid--layout-3 .grid__item:nth-child(7) {
  grid-area: 11 / 15 / 19 / 20; }

.grid--layout-3 .grid__item:nth-child(8) {
  grid-area: 1 / 18 / 6 / 23; }

.grid--layout-3 .grid__item:nth-child(9) {
  grid-area: 20 / 20 / 27 / 24; }

.grid--layout-3 .grid__item:nth-child(10) {
  grid-area: 20 / 28 / 25 / 30; }

.grid--layout-3 .grid__item:nth-child(11) {
  grid-area: 4 / 23 / 11 / 27; }

.grid--layout-3 .grid__item:nth-child(12) {
  grid-area: 11 / 20 / 20	/ 30; }

.grid--layout-3 .grid__item:nth-child(13) {
  grid-area: 20 / 24 / 26 / 28; }

.grid--layout-3 .grid__item--name {
  grid-area: 15 / 16 / 30 / 23 !important; }

.grid--layout-3 .grid__item--title {
  grid-area: 1 / 27 / 11 / 29; }

.grid--layout-3 .grid__item--text {
  grid-area: 19 / 5 / 30 / 10 !important;
  text-align: right; }

.grid--layout-3 .grid__item--nav-prev {
  grid-area: 14 / 5 / 19 / 10 !important; }

.grid--layout-3 .grid__item--nav-next {
  grid-area: 6 / 18 / 11 / 23 !important; }

.grid--layout-3 .grid__item--text .social-links {
  right: 0;
  top: 40px; }

.giselle-site {
  --gap: 20px;
  --body-text: #d3d9d9;
  --body-bg: #fff;
  --link-text: #727676;
  --link-text-hover: #ee538d;
  --grid-name-text: #fff;
  --grid-title-text: #ee538d;
  --grid-nav-text: #000;
  --grid-nav-bg: #e7c5dc;
  --grid-nav-text-hover: #fff;
  --grid-nav-bg-hover: #ee538d;
  --grid-text: #fff; }

.giselle-site .grid__item:not(.grid__item--nav)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0013ff;
  mix-blend-mode: exclusion;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer; }

.giselle-site .grid:not(.grid--animating) .grid__item:not(.grid__item--nav):hover::after {
  opacity: .4; }

@media (max-width: 991.98px) {
  main .grid {
    height: auto;
    top: auto !important;
    width: 100%;
    left: auto !important;
    padding: 0 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto !important;
    grid-auto-columns: auto !important;
    grid-gap: 1vw;
    margin: 0 0 5em; }
  .grid--layout-1 .grid__item,
  .grid--layout-2 .grid__item,
  .grid--layout-3 .grid__item {
    min-height: 150px;
    grid-area: auto !important; }
  .grid--layout-1 .grid__item br,
  .grid--layout-2 .grid__item br,
  .grid--layout-3 .grid__item br {
    content: '';
    display: none; }
  .grid--layout-1 .grid__item--name,
  .grid--layout-1 .grid__item--title,
  .grid--layout-1 .grid__item--text,
  .grid--layout-2 .grid__item--name,
  .grid--layout-2 .grid__item--title,
  .grid--layout-2 .grid__item--text,
  .grid--layout-3 .grid__item--name,
  .grid--layout-3 .grid__item--title,
  .grid--layout-3 .grid__item--text {
    grid-column: 1 / -1 !important;
    justify-content: flex-start !important;
    min-height: 0 !important;
    padding: 1vh 0 !important;
    text-align: left !important;
    grid-area: auto !important; }
  .grid--layout-1 .grid__item--title i,
  .grid--layout-2 .grid__item--title i,
  .grid--layout-3 .grid__item--title i {
    display: none; }
  .grid--layout-1 .grid__item--name,
  .grid--layout-1 .grid__item--text,
  .grid--layout-2 .grid__item--name,
  .grid--layout-2 .grid__item--text,
  .grid--layout-3 .grid__item--name,
  .grid--layout-3 .grid__item--text {
    display: none !important; }
  .grid--layout-1 .grid__item--nav-prev,
  .grid--layout-2 .grid__item--nav-prev,
  .grid--layout-3 .grid__item--nav-prev {
    grid-area: auto !important; }
  .grid--layout-1 .grid__item--nav-next,
  .grid--layout-2 .grid__item--nav-next,
  .grid--layout-3 .grid__item--nav-next {
    grid-area: auto !important; }
  .grid__item--name {
    grid-row: 1 / -1 !important; }
  .grid .grid__item--title {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb; } }

@media (max-width: 767.98px) {
  main .grid {
    height: auto;
    top: auto !important;
    width: 100%;
    left: auto !important;
    padding: 0 15px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: auto !important;
    grid-auto-columns: auto !important;
    grid-gap: 1vw;
    margin: 0 0 5em; }
  .grid--layout-1 .grid__item,
  .grid--layout-2 .grid__item,
  .grid--layout-3 .grid__item {
    min-height: 100px;
    grid-area: auto !important; }
  .grid--layout-1 .grid__item br,
  .grid--layout-2 .grid__item br,
  .grid--layout-3 .grid__item br {
    content: '';
    display: none; }
  .grid--layout-1 .grid__item--name,
  .grid--layout-1 .grid__item--title,
  .grid--layout-1 .grid__item--text,
  .grid--layout-2 .grid__item--name,
  .grid--layout-2 .grid__item--title,
  .grid--layout-2 .grid__item--text,
  .grid--layout-3 .grid__item--name,
  .grid--layout-3 .grid__item--title,
  .grid--layout-3 .grid__item--text {
    grid-column: 1 / -1 !important;
    justify-content: flex-start !important;
    min-height: 0 !important;
    padding: 1vh 0 !important;
    text-align: left !important;
    grid-area: auto !important; }
  .grid--layout-1 .grid__item--title i,
  .grid--layout-2 .grid__item--title i,
  .grid--layout-3 .grid__item--title i {
    display: none; }
  .grid--layout-1 .grid__item--name,
  .grid--layout-1 .grid__item--text,
  .grid--layout-2 .grid__item--name,
  .grid--layout-2 .grid__item--text,
  .grid--layout-3 .grid__item--name,
  .grid--layout-3 .grid__item--text {
    display: none !important; }
  .grid--layout-1 .grid__item--nav-prev,
  .grid--layout-2 .grid__item--nav-prev,
  .grid--layout-3 .grid__item--nav-prev {
    grid-area: auto !important; }
  .grid--layout-1 .grid__item--nav-next,
  .grid--layout-2 .grid__item--nav-next,
  .grid--layout-3 .grid__item--nav-next {
    grid-area: auto !important; }
  .grid__item--name {
    grid-row: 1 / -1 !important; }
  .grid .grid__item--title {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb; } }

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: var(--grid-nav-bg-hover); }
